EXPO_PUBLIC_SUPABASE_URL=https://xxxx.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=xxxx
EXPO_PUBLIC_OWNER_COACH_EMAIL=ton-email-coach@domaine.com
EXPO_PUBLIC_STRIPE_PRICE_ID_ESSENTIAL=price_xxx_essentiel
EXPO_PUBLIC_STRIPE_PRICE_ID_PREMIUM=price_xxx_premium
EXPO_PUBLIC_STRIPE_SUCCESS_URL=https://ton-domaine.com/stripe-success.html
EXPO_PUBLIC_STRIPE_CANCEL_URL=https://ton-domaine.com/stripe-cancel.html
